/* GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Vidaloka', serif;
  font-size: 2rem;
}

p {
  font-family: 'Raleway', serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 5rem 0;
  overflow: hidden;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* NAV */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(250, 211, 144,1.0);
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.nav-brand {
  width: 2rem;
}

.nav-brand a {
  color: rgba(250, 211, 144,1.0);
}

.nav-brand a:hover {
  color: rgba(246, 185, 59,1.0);
  transition: all 0.5s ease-in-out;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links a {
  padding: 1.5rem 0.5rem;
  font-size: 1.6rem;
  color: rgba(250, 211, 144,1.0);
  font-weight: 500;
}

.nav-links a:hover {
  color: rgba(246, 185, 59,1.0);
  transition: all 2s ease-in-out;
}

/* HERO */

.hero-img:before {
  content: "";
  display: block;
  position: absolute;
  width: 830px;
  height: 500px;
  background: linear-gradient(135deg, rgba(10, 61, 98, 0.9) 0%, rgba(60, 99, 130, 0.8) 100%);
  border-radius: 30% 40% 30% 40%;
}

.hero-img img {
  height: 500px;
  border-radius: 30% 40% 30% 40%;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 100%;
  max-width: 70rem;
  color: rgba(250, 211, 144,1.0);
  text-transform: uppercase;
  transform: translateY(40%);
}

.hero-text  h3 {
  font-weight: 500;
  letter-spacing:1rem;
}

.hero-text  p {
  text-transform: lowercase;
  line-height: 2rem;
  text-align: justify;
  margin-top: 2rem;
}

nav > *, .hero-text  >* {
   animation: scaleIn 1.3s ease-in 0.2s forwards;
}

.btn {
  background-color: rgba(56, 173, 169,1.0);
  color:  rgba(250, 211, 144,1.0);
  color: #fafafa;
  padding: 1.5rem 2.5rem;
  border-radius: 20px;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}

.btn:hover {
  background: rgba(7, 153, 146,1.0);
  transition: all 1s ease-in-out;
}


/* SERVICES */
.services {
  width: 100%;
  height: 100vh;
}

.services .container {
  max-width: 90%;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 2.2rem;
}

.services-heading {
  color: rgba(10, 61, 98,1.0);
  margin-bottom: 2rem;
}

.services-heading h3 {
  font-size: 2.5rem;
}

ion-icon {
  font-size: 4rem;
  color: rgba(250, 211, 144,1.0);
}

.grid-title {
   border-radius: 0 0 3rem 3rem;
   background-color: rgba(250, 211, 144,1.0);
   color: black;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   display: block;
   height: 14vh;
   text-align: center;
   padding: 1.5rem;
}

.grid-title h1, ion-icon {
  color: #0a3d62;
}

.grid-item {
  height: 70vh;
  padding: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: rgba(250, 211, 144,1.0);
  box-shadow: 10px 5px 5px #8395a7;
  transition: all 0.3s ease-out;
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(10, 61, 98, 0.9) 0%, rgba(60, 99, 130, 0.8) 100%);
  z-index: -1;
}

.grid-item:hover {
  transform: scale(1.02);
  border: none;
}

.grid-item h1 {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.grid-item ul {
  margin-top: 8vh;
}

.grid-item li {
  font-size: 1.4rem;
  border-bottom: 1px solid gray;
  padding: 0.3rem;
}

/* REFERENCES */
.references {
  height: 100vh;
  background: #0a3d62;
  color: #fad390;
}

.references-title {
  border-bottom: 0.15rem solid #fad390;
  text-align: center;
  font-weight: 300;
}

/* CONTACT */
.contact {
  height: 70vh;
}

.contact-container {
  float: left;
  color: #0a3d62;
  margin-top: 20vh;
  width: 50%;
  height: 100%;
}

.form-container {
  width: 50vh;
  float: left;
}

textarea {
  resize: none;
}

label {
  font-size: 1.5rem;
}

input, textarea {
  margin: 0.7rem 0;
  outline: none;
  padding: 0.7rem;
}
/* FOOTER */
.footer {
  height: 90vh;
  margin-top: 2rem;
  background-color: #0a3d62;
}

.footer::after {
  content: "";
  clear: both;
}
/*.footer-grid-item h1, h3, p {
  color: #fad390;
}*/

.footer ion-icon {
  font-size: 2.5rem;
}

.footer h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #fad390;
}

.footer h3 {
  font-size: 1.6rem;
  color: #fad390;
  margin-bottom: 0;
}
.footer p {
  font-size: 1.3rem;
  color: #fad390;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 2.5rem;
  display: flex;
  justify-content: flex-end;
}

.footer-grid-item {

  height: 20vh;
  padding: 0 3rem;
  position: relative;
  display: row;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
iframe {
  margin-top: 1rem;
}.iframe-container{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.iframe-container iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
 z-index: 1;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 margin: 0 3em 3em 0;
 border-radius: 50%;
 padding: .25em;
 width: 6rem;
 height: 6rem;
 background-color: #fad390;
}

#scrollToTopBtn {
  background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;

    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all .5s ease
  }

  .showBtn {
    opacity: 1;
    transform: translateY(0)
}

/* KEYFRAMES */
@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

/* MEDIA QUERIES */
