nav {
  width: 100%;
  display: flex;
  top: 0;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: none;
}

.nav-brand {
  display: flex;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
}

.material-icons {
  vertical-align: middle;
}

.nav-item {
  display: flex;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
  color: rgba(250, 211, 144,1.0);
}

.nav-item a, span {
  color: rgba(250, 211, 144,1.0);
  font-size: 18px;
  padding: 4px;
}

.nav-brand a {
  color: rgba(250, 211, 144,1.0);
}

.nav-brand a:hover, .nav-brand span:hover {
  color: rgba(246, 185, 59,1.0);
  transition: all 0.2s ease-in-out;
}

.nav-item a:hover {
  color: rgba(246, 185, 59,1.0);
  transition: all 2s ease-in-out;
}

.ul-links a:active {
  border-bottom: 2px solid rgba(250, 211, 144,1.0);
}

.gallery-section{
  width: 100%;
  padding: 20px 0;
}

img {
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image:hover {
  transform: scale(1.1);
  z-index: 5;
}

/* PAGINATION */

.pagination{
	width: 100%;
	float: left;
	padding:15px;
	text-align: center;
}

.pagination div{
	display: inline-block;
	margin:0 10px;
}

.pagination .page{
  color: rgba(250, 211, 144,1.0);
  font-size: 14px;
  padding: 9px 17px;
  cursor: pointer;
  border-bottom: 1px solid rgba(250, 211, 144,1.0);
}

.pagination .prev, .pagination .next {
  color: #0a3d62;
  font-size: 15px;
  padding: 9px 17px;
  cursor: pointer;
  background: white;
  border-radius: 30px;
}

.pagination .prev:hover, .pagination .next:hover {
  color: #fff;
  background: #0a3d62;
  border: 1px solid white;
  transition: all 0.5s ease-out;
}

.pagination .prev.disabled,
.pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}

.image.hide{
	display: none;
}

.image.show{
	animation: show .5s ease;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .ul-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ul-links a {
    color: white;
  }
  .gallery {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  }

  .footer-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pagination {
    padding: 8px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1281px) {
  /* for 10 inches tablet screens */
  body::before {
    content: "tablet to some desktop media query (769 > 1281) fired";
    font-weight: bold;
    display: block;
    text-align: center;
    background: rgba(255, 255, 0, 0.9); /* Semi-transparent yellow */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .ul-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1600px) {
  #referinte {
    height: 100vh;
  }

  #referinte .container {
    transform: translateY(10%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  #referinte {
    height: 100vh;
  }

  #referinte .container {
    transform: translateY(10%);
  }
}



@media screen and (max-width: 768px) {
  .ul-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
