.gallery-section{
  width: 100%;
  padding: 20px 0;
}

img {
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image:hover {
  transform: scale(1.1);
  z-index: 5;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  nav {
    align-items: center;
  }

  .toggle-btn {
    display: flex;
  }

  .ul-links {
    display: none;
    width: 100%;
  }

  .ul-links ul {
    width: 100%;
    flex-direction: column;
  }

  .ul-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .ul-links.active {
    display: flex;
  }

  .toggle-btn {
    display: block;
  }

  .ul-links{
    display: none;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
    background: white;
    transform: translateX(100%);
  }

  .nav-links ul li {
    padding: 15px 0;
    width: 100%;
  }

  .nav-links.show {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  }

  .footer-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1281px) {
  /* for 10 inches tablet screens */
  body::before {
    content: "tablet to some desktop media query (769 > 1281) fired";
    font-weight: bold;
    display: block;
    text-align: center;
    background: rgba(255, 255, 0, 0.9); /* Semi-transparent yellow */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    background-color: #5D4954;
  }

  .ul-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .ul-links li {
    opacity: 0;
  }

  .ul-links a {
    color: black;
  }

  .toggle-btn {
    cursor: pointer;
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

}
